.footer-controls {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1100px;
}

.footer-controls li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-controls a {
  color: #003580;
  text-decoration: none;
}
